.container {
  display: block;
  margin: auto;
  text-align: center;
}

.keyboard {
  background-color: #bec5d3;
  padding-top: 2px; 
  border-radius: 10px;
  padding-bottom: 2px; 
}

body {
  margin-bottom: 3px;
}

h1 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}

.container > div > button {
  width: auto;
  background-color: white;
  border-color: silver;
  text-align: center;
  font-size: 16px;
}

.dessin {
    display: none;
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    float: center;
    text-align: center;
    margin: auto;  
}

@media only screen and (min-width: 767px) {
  .container {
    width: 31em;
  }
}

@media only screen and (min-width: 389px) and (max-width: 768px) {
  .container {
    width: 23em;
  }

  .container > div > button {
    margin-left: 5px;
  }

  p {
    margin-left: 5px; 
  }
} 


@media only screen and (max-width: 390px) {
  p {
    font-size: 13.8px;
    margin-left: 5px; 
  }

  .keyboard {
    padding-left: 5px;
    padding-right: 5px;
  }
}
