.letter {
	display: inline-flex;
	margin-bottom: 8px;
	margin-left: 5px;
	margin-right: 5px;
}

.visible  {
	margin: auto;
	margin-right: 0px;
	margin-left: 0px; 
	padding: 0px;
}

.letter {
	font-size: 30px;
}

@media only screen and (max-width: 389px) {
	.letter {
		font-size: 20px;
	}
}



